*{
    font-family: "Oswald", sans-serif;
}

body {
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.7)), url(./Media/Background-Image-Home-Page.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

nav {
    display: flex;
    justify-content: space-between;
}

.Logo-Principale {
    height: 10vh;    
}

.Navbar-Link {
    display: flex;
    list-style-type: none; 
}

.Link {
    color: aqua;
    text-decoration: none;
    padding: 0vh 2vh; 
}

.Link:hover {
    border-bottom-style: solid;
}

header {
    padding-top: 10vh;
}

header > h1, p {
    color: aqua;
}

h2 {
    color: black;
    text-align: center;    
}

h3 {
    font-size: 17px;
    color: green;
    margin: 2% 2%;
    margin-bottom: 10%;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
}

main {
    display: flex;
}

.Principal {
    display: flex;
    width: 60%;
}

.Principal-Section {
    margin: 0% 1%;
    background-color: whitesmoke;
    color: black;
    text-align: justify;
}

.Principal-Img {
    width: 100%;
}

.Principal-Article {
    margin: 2% 2%;
}

.Date {
    margin: 2% 2%;
    color: cadetblue;
}

.Button-Read-All {
    margin: 2% 2%;
    margin-top: 10%;
    background-color: white;
    color: black;
}

.Button-Read-All:hover {
    background-color: yellow;
    color: black;
}

aside {
    width: 40%;
    text-align: center;
    background-color: darkgrey;
}